.App {
  text-align: center;
}

.App-logo {
  height: 70vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.radio-input {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.difficulty-label {
  font-size: 18px;
  margin-right: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.radio-input input[type=radio] {
  display: none;
}

.radio-input input[type=radio] + label {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.radio-input input[type=radio] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 44px;
}

.radio-input input[type=radio] + label span svg {
  opacity: 0;
  transition: all 0.3s ease;
}

.radio-input input[type=radio]#color-1 + label span {
  background-color: #2ecc71;
}

.radio-input input[type=radio]#color-2 + label span {
  background-color: #d3b118;
}

.radio-input input[type=radio]#color-3 + label span {
  background-color: #be351d;
}

.radio-input input[type=radio]:checked + label span svg {
  opacity: 1;
}

.radio-input:has(input[type=radio]#color-1:checked) {
  background-color: #2ecc71;
}

.radio-input:has(input[type=radio]#color-2:checked) {
  background-color: #d3b118;
}

.radio-input:has(input[type=radio]#color-3:checked) {
  background-color: #be351d;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-family: "Arial", sans-serif;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
}

.tooltip .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #3D7EAE;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
}
/* Global dark mode styles */
body.dark-mode {
  color: #FFFFFF; /* Ensures all text is white unless otherwise specified */
  background-color: #1D1F2C; /* Dark background for the app */
}

/* Header and links styling in dark mode */
body.dark-mode .App-header {
  background-color: #333; /* Darker shade for header */
  color: #EEE; /* Lighter text for visibility */
}

body.dark-mode .App-link {
  color: #4a8ad6; /* Light blue for links to ensure visibility */
}

/* Radio button adjustments for dark mode */
body.dark-mode .radio-input {
  background-color: #2a2e35; /* Darker background for the container */
}

body.dark-mode .radio-input input[type=radio] + label {
  color: #CCC; /* Lighter text color for labels */
}

body.dark-mode .radio-input input[type=radio] + label span {
  border: 2px solid #555; /* Darker border for the buttons */
}

body.dark-mode .radio-input input[type=radio]#color-1 + label span {
  background-color: #216c2a; /* Dark green */
}

body.dark-mode .radio-input input[type=radio]#color-2 + label span {
  background-color: #b39b18; /* Dark yellow */
}

body.dark-mode .radio-input input[type=radio]#color-3 + label span {
  background-color: #a3301d; /* Dark red */
}

/* Tooltip style in dark mode */
body.dark-mode .tooltip .tooltiptext {
  background-color: #2a2e35; /* Matching dark background for tooltips */
}

body.dark-mode .tooltip .icon {
  background-color: #415a77; /* Darker icon background */
}

body.dark-mode  .radio-input:has(input[type=radio]#color-1:checked) {
  background-color: #216c2a;
}

body.dark-mode  .radio-input:has(input[type=radio]#color-2:checked) {
  background-color: #b39b18;
}

body.dark-mode  .radio-input:has(input[type=radio]#color-3:checked) {
  background-color: #a3301d;
}